<div class="bg-fixed h-screen " style="background-image: url(https://media.gettyimages.com/vectors/snacks-vector-silhouette-vector-id165927660?s=2048x2048);" >
<div class="text-center italic animate-bounce text-4xl text-yellow-500 p-10">
Sign up
</div>


<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
<div class="text-center text-red-300 font-mono mb-4">
  <%= render "devise/shared/error_messages", resource: resource %>
  </div>

  <div class="text-center font-mono m-10">
  <div class="field mb-4 ">
  <div class="text-yellow-500">
    <%= f.label :nickname, "ニックネーム" %><br>
    <%= f.text_field :nickname %>
  </div>
  </div>

  <div class="field mb-4">
  <div class="text-yellow-500">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  </div>

  <div class="field mb-4">
  <div class="text-yellow-500">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上 半角英数字混合)</em>
        </div>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field mb-4">
  <div class="text-yellow-500">
    <%= f.label :password_confirmation, "パスワード再入力" %><br />
    </div>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

<button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
  新規登録
</button>
    </div>
    </div>
</div>
<% end %>

