<div class="m-3 ">
<button class="px-2 py-1 bg-blue-400 text-lg text-white font-semibold rounded hover:bg-blue-500">
  <%= link_to "投稿する", new_vender_path%>
  </button>
  </div>

  <% if user_signed_in?%>
  <%= "こんにちは、#{current_user.nickname}さん"%>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete%>
  <% else %>
  <%= link_to "新規登録", new_user_registration_path%>
  <%= link_to "ログイン", new_user_session_path%>
  <% end %>
