<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>

      <%= form_with(model: @vender, local: true, id: 'example_form' ) do |f| %>
      <%= f.text_field :title, placeholder: "何の自販機？" %>
      <%= f.file_field :image, placeholder: "Image" %>
      <%= f.select :pref, options_for_select(Prefecture.all.map{ |pref| [pref.name, pref.id] }) %>
      <%= f.text_field :residence, placeholder: "住所は？" %>
      <%= f.text_area :text, placeholder: "どんな商品がある？", rows: "10" %>
      <%= f.submit "SEND" %>
    <% end %>
  </div>
</div>