<div class="bg-gradient-to-r from-blue-400">
  <div class="space-y-8 text-center">
  <p class="text-center text-purple-500 text-4xl font-mono animate-bounce mx-64 p-2 font-bold">
  ⬇︎  ここにあるよ！  ⬇︎
  </p>
  <div id='map'>
    <script>
      let map
      function initMap(){
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= @vender.latitude %>, lng: <%= @vender.longitude %>},
          zoom: 15,
            zoomControl: false,
            mapTypeControl: false,
            fullscreenControl: false,
            streetViewControl: false,
        });

        marker = new google.maps.Marker({
          position: {lat: <%= @vender.latitude %>, lng: <%= @vender.longitude %>},
          map: map
        });
        geocoder = new google.maps.Geocoder()
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>
  </div>

<div class=" py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-lg px-4 md:px-8 mx-auto">
    <div class="grid md:grid-cols-2 gap-8">
      <div class="space-y-4">
      <%= image_tag(@vender.image, size: '800x800', class: 'inline-block align-baseline bg-gray-100 rounded-lg overflow-hidden relative')%>
      </div>
      <div class="bg-gradient-to-r from-yellow-200 rounded-2xl">
      <div class="md:py-8">
        <div class=" mt-16 mb-2 md:mb-3">
          <span class="inline-block text-gray-500 mb-0.5">設置場所</span>
          <h2 class="pt-4 text-gray-800 text-2xl lg:text-3xl font-bold">
              <%= @vender.residence%>
              </h2>
        </div>
        <div class=" flex items-center mb-6 md:mb-10">
          <div class="flex gap-0.5 -ml-1">
          </div>
        </div>
                  <span class="mt-16 inline-block text-gray-500 text-sm md:text-base font-semibold ">こんな自販機です！</span>
    <h2 class="pt-4 text-gray-800 text-2xl lg:text-3xl font-bold">
    <%= @vender.title%>
    </h2>
        <div class="mt-16 mb-4 md:mb-6">
          <span class="inline-block text-gray-500 text-sm md:text-base font-semibold mb-3 mt-10">自販機概要</span>
          <h2 class="pt-4 text-gray-800 text-2xl lg:text-3xl font-bold">
    <%= @vender.introduction%>
</h2>


        </div>

      </div>
      
    </div>
  </div>
</div>
</div>
<% if current_user == @vender.user%>
<div class="space-y-8 text-center mt-10">
    <%= button_to "編集する", edit_vender_path, method: :get, class: "btn-gradient-simple"%>
    <%= button_to "削除する", vender_path(@vender.id), method: :delete, class: "btn-gradient-simple-second" %>
<% end %>

      <%= form_with(model: [@vender, @comment], local: true) do |f| %>
        <%= render "layouts/comment_error" %>

      <div class="text-center mt-8">
            <% if user_signed_in? && current_user != @vender.user%>
        <%= f.text_area :content, size: "40x10", placeholder: "コメントする", rows: "2" %>
        <p>
        <%= f.submit "コメント", class: "bg-yellow-500 hover:bg-yellow-400 text-white font-bold py-2 px-4 border-b-4 border-yellow-700 hover:border-yellow-500 rounded" %>
        </p>

        </div>
      <% else %>
    <div class="text-center mt-8 text-yellow-500">
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      </div>
    <% end %>
    <% end %>

    <div class=" text-2xl text-center mt-8 font-mono italic text-purple-500">＜コメント一覧＞</div>
      <% @vender.comments.each do |f| %>
        <div class="pb-4 text-center text-2xl font-bold text-black">
        <%= f.user.nickname %>:
          <%= f.content %>
        </div>
        <div class="text-center">
        <% if user_signed_in? && f.user == current_user %>
        <%= button_to "削除", vender_comment_path(f.vender.id, f.id),
        class:"my-2 bg-red-500 hover:bg-red-400 text-white font-bold px-4 border-b-4 border-red-700 hover:border-red-500 rounded",
         method: :delete %>
        </div>
        <% end %>
      <% end %>

