<div class="bg-gradient-to-r from-blue-400">
<div class="text-3xl text-center text-yellow-400">
<%= @vender.title%>
</div>

<div id='map'>
<script>
let map
function initMap(){
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: <%= @vender.latitude %>, lng: <%= @vender.longitude %>},
    zoom: 15,
       zoomControl: false,
       mapTypeControl: false,
       fullscreenControl: false,
       streetViewControl: false,
  });

  marker = new google.maps.Marker({
    position: {lat: <%= @vender.latitude %>, lng: <%= @vender.longitude %>},
    map: map
  });
   geocoder = new google.maps.Geocoder()
}
</script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>
</div>

<div class="flex justify-center">
<%= image_tag(@vender.image)%>
</div>

<%= @vender.residence%>

<p>
<%= @vender.genre.name%>
</p>

<%= @vender.introduction%>
</div>
