<div class="bg-gradient-to-r from-blue-400">
  <div class="space-y-8 text-center">

  <p class="text-center text-purple-500 text-4xl font-mono italic rounded border-blue-400 border-solid border-4 mx-64 p-2">自販機タイトル</p>
  <div class="text-3xl font-mono italic">
    <%= @vender.title%>
  </div>

  <div id='map'>
    <script>
      let map
      function initMap(){
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= @vender.latitude %>, lng: <%= @vender.longitude %>},
          zoom: 15,
            zoomControl: false,
            mapTypeControl: false,
            fullscreenControl: false,
            streetViewControl: false,
        });

        marker = new google.maps.Marker({
          position: {lat: <%= @vender.latitude %>, lng: <%= @vender.longitude %>},
          map: map
        });
        geocoder = new google.maps.Geocoder()
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map_api_key %>&callback=initMap" async defer></script>
  </div>

  <p class="text-purple-500 text-4xl text-center font-mono italic rounded border-blue-400 border-solid border-4 mx-64 p-2 ">自販機画像</p>
  <div class="flex justify-center p-10 ">
    <div class="rounded-lg">
      <%= image_tag(@vender.image)%>
    </div>
  </div>

  <p class="text-center text-purple-500 text-4xl font-mono italic rounded border-blue-400 border-solid border-4 mx-64 p-2">住所</p>
  <div class=" text-3xl font-mono italic">
    <%= @vender.residence%>
  </div>

  <p class="text-purple-500 text-4xl font-mono italic rounded border-blue-400 border-solid border-4 mx-64 p-2">ジャンル</p>
  <div class="text-3xl font-mono italic">
    <%= @vender.genre.name%>
  </div>

  <p class="text-purple-500 text-4xl font-mono italic rounded border-blue-400 border-solid border-4 mx-64 p-2">自販機内容</p>
  <div class="text-3xl font-mono italic">
    <%= @vender.introduction%>
  </div>
</div>

<% if current_user == @vender.user%>
<div class="space-y-8 text-center mt-10">
    <%= button_to "編集する", edit_vender_path, method: :get, class: "btn-gradient-simple"%>
    <%= button_to "削除する", vender_path(@vender.id), method: :delete, class: "btn-gradient-simple-second" %>
<% end %>

      <%= form_with(model: [@vender, @comment], local: true) do |f| %>
        <%= render "layouts/comment_error" %>

      <div class="text-center mt-8">
            <% if user_signed_in? && current_user != @vender.user%>
        <%= f.text_area :content, size: "40x10", placeholder: "コメントする", rows: "2" %>
        <p>
        <%= f.submit "コメント", class: "bg-yellow-500 hover:bg-yellow-400 text-white font-bold py-2 px-4 border-b-4 border-yellow-700 hover:border-yellow-500 rounded" %>
        </p>

        </div>
      <% else %>
    <div class="text-center mt-8 text-yellow-500">
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      </div>
    <% end %>
    <% end %>

    <div class="text-2xl text-center mt-8 font-mono italic text-purple-500">＜コメント一覧＞</div>
      <% @vender.comments.each do |f| %>
        <div class="text-center text-2xl font-bold text-blue-500">
        <%= f.user.nickname %>:
          <%= f.content %>
        </div>
        <div class="text-center">
        <% if user_signed_in? && f.user == current_user %>
        <%= button_to "削除", vender_comment_path(f.vender.id, f.id),
        class:"my-2 bg-red-500 hover:bg-red-400 text-white font-bold px-4 border-b-4 border-red-700 hover:border-red-500 rounded",
         method: :delete %>
        </div>
        <% end %>
      <% end %>
