<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vensee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
        <%= favicon_link_tag 'favicon (1).ico' %>

    <%= include_gon %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
<div class=" flex flex-wrap place-items-center ">
  <section class="relative mx-auto">
      <!-- navbar -->
    <nav class="flex justify-between bg-gradient-to-r from-blue-400 text-black w-screen">
      <div class="px-5 xl:px-12 py-6 flex w-full items-center">
        <div class="text-3xl font-bold font-heading">
  <%= link_to image_tag("horizontal_on_white_by_logaster (1).png", class: 'rounded-full '), root_path%>
        </div>
        <ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12">
  <% if user_signed_in?%>
  <li class=" ml-10 text-white r-0  font-sans italic ">
  <%= "ようこそ、#{current_user.nickname}さん！"%>
  </li>
              <%= link_to "投稿する", new_vender_path, class: " px-2 py-1 bg-blue-400 text-lg text-white font-semibold rounded hover:bg-blue-500"%>

  <li class="px-2 py-1 bg-red-400 text-lg text-white font-semibold rounded hover:bg-red-500 ">
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete%>
  </li>

  <% else %>
  <%= link_to "新規登録", new_user_registration_path, class: 'ml-20 px-2 py-1 bg-yellow-400 text-lg text-white font-semibold rounded hover:bg-yellow-500'%>
  <%= link_to "ログイン", new_user_session_path, class: 'px-2 py-1 bg-green-800 text-lg text-white font-semibold rounded hover:bg-green-500'%>
  <% end %>
        </ul>
  <%= search_form_for @p, url: search_venders_path do |f| %>
    <%= f.text_field :residence_cont, class: "rounded border-purple-700", placeholder: "都道府県名を入力" %>
    <%= f.collection_select :genre_id_eq, Genre.all, :id, :name %>
    <%= f.submit "検索", class: " px-2 py-1 bg-purple-400 text-lg text-white font-semibold rounded hover:bg-purple-500" %>
  <% end %>
  </div>
        </div>
      </div>

    </nav>
  </section>
</div>
    </header>
    <%= yield %>
    <footer class=" text-center text-2xl text-gray-500 bg-white ">
    by VENSEE.
    </footer>
  </body>
</html>
