<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" >
    <title>VenSee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="style.css">
    <%=stylesheet_link_tag "tailwind"%>
  </head>

  <body> 
        <div class="bg-orange-200 text-center text-4xl animate-bounce">レアな自販機見つけよう！</div>
  <div class="w-1/5 container mx-auto">
      <%= link_to image_tag('horizontal_on_white_by_logaster.png'), root_path%>
      </div>
    <%= yield %>
  </body>
</html>